<!--Main page-->
<!--home.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
    <title>Home</title>
  </head>
  <body>
     <!--My Student id-->
    <h1>G00413222</h1>
    <!-- Navigation Links -->
    <nav>
      <!-- Link  Students Page Link -->
      <a href="/students">Students</a><br />
      <!--  Link Grades Page Link -->
      <a href="/grades">Grades</a><br />
           <!-- Link to Lecturers Page -->
      <a href="/lecturers">Lecturers</a><br />
    </nav>
  </body>
</html> 